<div class="col-md-3 col-md-offset-4">
    <h2>Welcome</h2>
    <form name="form" >
        <div class="form-group" >
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username"  required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required/>
        </div>
        <div class="form-group">
            <button class="loginButton" (click)="login()">Login</button>            
            <a  href="./register">Register if you don't have an account</a>
        </div>
    </form>
</div>