<div class="col-md-3 col-md-offset-4">
    <h2>Add Conference</h2>
    <form name="form" >
        <div class="form-group" >
            <label for="nume">Name</label>
            <input type="text" class="form-control" name="nume" [(ngModel)]="conference.name"  required/>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="text" class="form-control" name="startDate" [(ngModel)]="conference.startDate" required/>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="text" class="form-control" name="endDate" [(ngModel)]="conference.endDate" required/>
        </div>
        <div class="form-group" >
            <label for="username">Domain</label>
            <input type="text" class="form-control" name="fname" [(ngModel)]="conference.domain"  required/>
        </div>
        <div class="form-group" >
            <label for="locatie">Location</label>
            <input type="text" class="form-control" name="locatie" [(ngModel)]="conference.locatie"  required/>
        </div>
        <div class="form-group">
            <label for="longitudine"> Longitudine</label>
            <input type="text" class="form-control" name="longitudine" [(ngModel)]="conference.longitudine"  required/>
        </div>

        <div class="form-group">
            <label for="longitudine"> Latitudine</label>
        <input type="text" class="form-control" name="latitudine" [(ngModel)]="conference.latitudine"  required/>     
        </div>
        
        <div class="form-group">
            <button class="registerButton" (click)="register()">Adauga</button>            
        </div>
        <div class="form-group">
             <a  href="./conference">Back to conferences page</a>
        </div>
    </form>
</div>