<div class="form-group" style="width:40%;margin:10px 10% 10px">
             <h3>Hello {{user.firstName}} {{user.lastName}}</h3>
</div>
<div class="form-group" style="width:40%;margin:10px 90% 10px">
             <a  href="./">Log out</a>
</div>
<div class="form-group" style="width:40%;margin:10px 45% 1px"> 
            <button class="addConference" (click)="add()">Adauga conferinta</button>            
</div>

<div class="form-group" style="width:40%;margin:10px 45% 1px"> 
            <h4> Filter: </h4>
            <select (change)="filterConferences()" id="filter">
                <option value="all" id="all">All</option>
                <option value="IT" id="IT">IT</option>
                <option value="Gastronomy" id="Gastronomy">Gastronomy</option>
                <option value="Business" id ="Business">Business</option>
                <option value="Psychology" id ="Psychology">Psychology</option>
                <option value="My">My Conferences</option>
            </select>       
</div>
<div  class="conferenceList"  style="width:40%;margin:100px 30% 100px">
        <ul style="list-style-type: none;">
            <li *ngFor="let conf of conferences">
                <div class="conf" style="border-style:ridge;margin:10px;padding:10px">
                    <h3 style="text-align: center">{{conf.name}}</h3>
                    <hr>
                    <h5>
                        Domain: {{conf.domain}}
                    </h5>
                    <h4 >When: {{conf.startDate}}</h4>
                    <h4 >Until: {{conf.endDate}}</h4> 
                    <h4> Where: {{conf.locatie}}</h4>
                    <button (click)="showMap(conf)">Show on map</button>
                    <button (click)="seeParticipants(conf)">See participants</button>
                    <button>Join conference</button>
                    <div *ngIf="map &&confClicked.name==conf.name">
                    <map>
                    </map>
                    </div>
                    <div *ngIf="part &&confClickedP.name==conf.name">
                        <ul style="list-style-type: none">
                            <li *ngFor="let user of participants">
                                <h5>{{user.firstName}} {{user.lastName}}</h5>
                            </li>
                        </ul>
                    </div>
                </div>    
            </li>
        </ul>
</div>
