<div class="col-md-3 col-md-offset-4">
    <h2>Welcome</h2>
    <form name="form" >
        <div class="form-group" >
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username"  required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required/>
        </div>
        <div class="form-group">
            <label for="password">Password again</label>
            <input type="password" class="form-control" name="cpassword" [(ngModel)]="password" required/>
        </div>
        <div class="form-group" >
            <label for="username">First name</label>
            <input type="text" class="form-control" name="fname" [(ngModel)]="user.firstName"  required/>
        </div>
        <div class="form-group" >
            <label for="username">Last name</label>
            <input type="text" class="form-control" name="lname" [(ngModel)]="user.lastName"  required/>
        </div>
        <div class="form-group">
            <button class="registerButton" (click)="register()">Register</button>            
        </div>
        <div class="form-group">
             <a  href="./">Back to first page</a>
        </div>
    </form>
</div>